$color-primary: rgba(0, 0, 0, 0.8);
$color-secondary: #eee;

$color-background: #f7f7f7;
$color-accent: #314152;
$color-highlight: #42b983;
$color-footer: #333;
$content-max-width: 1000px;

$spacer-default: 12px;
$spacer-md: $spacer-default;

$drop-shadow:   drop-shadow(0 1px 10px rgba(0,0,0,.08))
                drop-shadow(0 2px 10px rgba(0,0,0,.06))
                drop-shadow(0 1px 10px rgba(0,0,0,.1));